<%
    const class_home = active=="home"? "active" : ""
    const class_about = active=="about"? "active" : ""
    const class_add = active=="add"? "active" : ""
    const class_status = active=="status"? "active" : ""
    const class_control = active=="control"? "active" : ""

%>

<header class="top_menu">
    <div>
      <h3 class="float-md-start mb-0">Best IOT Dashboard</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link <%=class_home%>" aria-current="page" href="/">Home</a>
        <a class="nav-link <%=class_about%>" href="/about">About us</a>
        <a class="nav-link <%=class_add%>" href="/add">Add device</a>
        <a class="nav-link <%=class_status%>" href="/status">Status</a>
        <a class="nav-link <%=class_control%>" href="/control">Control</a>
      </nav>
    </div>
  </header>
